/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500;700;900&display=swap");

/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: hsla(117, 60%, 32%, 0.833);
  color: white;
  padding: 10px;
  text-align: left;
  box-shadow: 0px 2px 4px;
}

.logo {
  max-width: 100%;
  margin-right: 10px;
  margin-left: 0px;
}

/* css navbar */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: left;
  box-shadow: 0px 2px 4px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  text-align: right;
}

.navbar ul {
  list-style: none;
  background-color: hsla(117, 66%, 48%, 0.833);
  padding: 0px;
  display: flex;
  margin: 10px;
  overflow: hidden;
  float: left;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: hsl(200, 1%, 42%);
}

.navbar li {
  list-style-type: none;
  display: inline-block;
}

h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
}

/* css hero */

.container-hero {
  position: relative;
  text-align: center;
  color: #fff;
}

.container-hero h1 {
  font-size: 4rem;
  margin-bottom: 20px; /* Added margin for spacing */
}

.image {
  max-width: 100%;
  height: auto;
  display: flex;
  opacity: 0.9;
}

.container-hero .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-hero p {
  font-size: 1.5rem;
  margin-bottom: 20px; /* Added margin for spacing */
}

@media (max-width: 768px) {
  .container-hero img {
    width: 100%;
    height: auto;
  }

  .container-hero h1 {
    font-size: 2.5rem;
  }

  .container-hero p {
    font-size: 1.2rem;
  }
}

/* css hero-servicios */

.container-hero-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.servicios {
  width: 250px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.servicios img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.servicios h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  color: #333;
}

.servicios p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  color: #555;
}

.servicios .how {
  font-size: 1.2em;
  color: #777;
}

.servicios button {
  background-color: #437b3c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.servicios button:hover {
  background-color: #335c2a;
}

/* css contacto*/

.contacts h1 {
  color: black;
}

/*  css footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  background-color: hsla(117, 52%, 28%, 0.833);
  padding: 20px;
}

.footer .group-1 {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 20px;
}

.footer .group-1 .box figure {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .group-1 .box figure img {
  width: 100%;
}

.footer .group-1 .box h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer .group-2 {
  color: 0, 0, 10%;
}

/* css servicios */

.container-servicios .image img {
  max-width: 70%;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.container-servicios {
  text-align: center;
  padding: 10px;
}

.container-servicios h1 {
  text-align: center;
  font-size: 2em;
  color: #333;
}

.container-servicios p {
  text-align: center;
  font-size: 1.1em;
  color: #555;
}

.container-servicios ul {
  list-style-type: none;
  padding: 0;
}

.container-servicios li {
  font-size: 1.1em;
  color: #777;
  margin-bottom: 10px;
}

.container-servicios .text-image {
  display: flex;
  margin-bottom: 30px;
}

.text-image .text img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.container-servicios .text-container {
  margin-left: 20px;
}

.text-image h2 {
  font-size: 1.5em;
  color: #333;
}

.text-image p {
  font-size: 1.2em;
  color: #555;
}

/* css nosotros */

.container-nosotros .image img {
  max-width: 80%;
  height: auto;
  margin-bottom: 50px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.container-nosotros {
  text-align: center;
  padding: 10px;
}

.container-nosotros h1 {
  text-align: center;
  font-size: 2em;
  color: #333;
}

.container-nosotros p {
  text-align: center;
  font-size: 2.5em;
  color: #1c8f1899;
}

.container-nosotros ul {
  list-style-type: none;
  padding: 0;
}

.container-nosotros li {
  font-size: 1.1em;
  color: #777;
  margin-bottom: 10px;
}

.container-nosotros .text-image {
  display: flex;
  margin-bottom: 30px;
}

.text-image .image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.container-nosotros .text {
  margin-left: 20px; /* Adjust the margin as needed */
}

.text-image h2 {
  font-size: 1.5em;
  color: #333;
}

.text-image p {
  font-size: 1.2em;
  color: #555;
}

/* css contacto*/

.contacts h1 {
  color: black;
}

/* css store */

.container-store {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.product {
  width: 250px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.product img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.product h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  color: #333;
}

.product p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  color: #555;
}

.product .price {
  font-size: 1.2em;
  color: #777;
}

.product button {
  background-color: #437b3c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.product button:hover {
  background-color: #335c2a;
}

/* css contacto*/

.contacts h1 {
  color: black;
}

/*  css footer */
.footer {
  width: 100%;
  background-color: hsla(117, 52%, 28%, 0.833);
  padding: 10px 0;
}

.footer .group-1 {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 15px 0;
}

.footer .group-1 .box figure {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .group-1 .box figure img {
  width: 100%;
}

.footer .group-1 .box h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer .group-2 {
  color: 0, 0, 10%;
}
